<div class="row w-100 mx-0 auth-page">
  <div class="col-md-4 col-xl-3 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-12 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2 text-center">Angular<span> Task</span></a>
            <form class="forms-sample" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">User Name</label>
                <input type="email" class="form-control" formControlName="userName" value="User123">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password" value="123456789">
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>